*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 16px;
}
body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*--------------------LAYOUT-------------------*/
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

article{
  display: flex;
  width: 90%;
  height: 90%; 
  box-shadow: 0px 0px 40px 2px #000000;
}
/*---NECESSARY TO USE POSITION ABSOLUTE TO HAVE SMOOTH TRANSITION BETWEEN CHANGING PAGES---*/
.page{
  position: absolute;
}
/*-----SO THE COMPONENTS CAN BE PUT ON EACH OTHER*/
section{
  width: 50%;
}

.img-section{
  background: url('https://i.pinimg.com/originals/53/83/fa/5383faafa5316d71036c2ece988293bb.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
}
.main-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tabs-container{
  position: relative;
  margin-bottom: 6em;
  top: 4%;
  display: flex;
  justify-content:center;
  width: 50%;
  color: white;
  cursor:pointer;
  background-color: white;
  border-radius: 2em;
}

.tab-btn-color{
position: absolute;
top:0;
left: 0;
width: 50%;
height: 100%;
background: linear-gradient(to right, #ff105f, #ffad06);
border-radius: 2em;
opacity: 0.75;
transition: all ease 1s;
}

.toggle{
  left: 50%;
  background-color: linear-gradient(to left,#ff105f, #ffad06);
}

.tab-btn{
  text-align: center;
  cursor: pointer;
  width: 50%;
  padding: 0.5em 0;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight:800;
  text-decoration: none;
}

li{
  margin-bottom: 2em;
}

/*---------------END OF LAYOUT COMPONENT ------------*/


/*-------ANIMATION WHILE CHECKING THE BACKEND VALIDATION-----*/
.container-loadingApiResponse{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(252, 247, 247);
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
}
.loader-loadingApiResponse {
  border: 25px solid #f3f3f3;
  border-radius: 50%;
  border-top: 25px solid #3498db;
  width: 220px;
  height: 220px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
  margin-bottom: 4em;
}
.comunication-loadingApiResponse{
  font-size: 2rem;
  text-align: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*-------END OF ANIMATION WHILE CHECKING THE BACKEND VALIDATION-----*/


/*------REGISTER COMPONENT-----------*/
.container-RegisterComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 53%;
  height: auto;
  background-color: rgb(235, 235, 241);
  border-radius: 3em;
  z-index: 1;
}

.header-RegisterComponent h1,
.header-LoginComponent h1{
  font-size: 2.3rem;  
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  padding-top: 1.5em;
}

.underline-RegisterComponent,
.underline-LoginComponent{
  width: 80%;
  height: 5px;
  background-color: dodgerblue;
  margin: 0em auto 1.5em auto;
}

.form-RegisterComponent,
.form-LoginComponent{
  width: 75%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-RegisterComponent,
.input-LoginComponent{
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  width: 100%;
  border: 2px solid grey;
  border-radius: 11px;  
  padding: 13px 50px 13px 50px;
  outline: none;
  transition: .4s;
}

input:focus{
 border-color: dodgerblue;
}

input:focus + .icon{
  color:dodgerblue;
}

.icon{
  font-size: 1.3rem;
  position: absolute;
  top:10px;
  left:10px;
  color: rgb(168, 155, 155);
  transition: .4s;
}

.btnContainer-RegisterComponent,
.btnContainer-LoginComponent{
  display: flex;
  width: 100%;
  justify-content:space-evenly;
  margin: 1.5em 1em;
}

.btn-RegisterComponent,
.btn-LoginComponent{
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0.45em 0.8em;
  border: none;
  background-color: dodgerblue;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: 0px 0px 13px 0px #000000;
}

.btn-RegisterComponent:hover,
.btn-LoginComponent:hover{
  background-color: rgb(4, 59, 211); 
}

/*----END OF REGISTER COMPONENT-------*/

/*----LOGIN COMPONENT ----------------*/
.container-LoginComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 53%;
  height: auto;
  background-color: rgb(235, 235, 241);
  border-radius: 3em;
  z-index: 1;
}

/*----END OF LOGIN COMPONENT --------- */

/*----REGISTER SUCCESS COMPONENT -----*/
.success-container{
  position: relative;
  margin: auto 0;
  width: 70%;
  max-width: 500px;
  min-width: 320px;
  height: auto;
  min-height: 550px;
  max-height: 700px;
  background-color: rgb(235, 235, 241);
  border-radius: 3em;
}

.header-success{
  text-align: center;
  background: cornflowerblue;
  color: white;
  font-weight: bold;
  border-radius: 1em 1em 0 0;
  font-size: 3rem;
  padding: 1em 0;
}


.success-icon{
  position: absolute;
  left: 36%;
  top: 20%;
  font-size: 10em;
  color: rgb(10, 160, 55);
}

.text-div{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 6em;
}

.btn-login{
  font-size: 5em;
}
.log-div{
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-top: 1.5em;
  color: green;
}

footer{
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  margin: 2em;
}

/*----END OF REGISTER SUCCESS COMPONENT -----*/

/*----SHOPPING PAGE COMPONENT -------------------------*/
main.container-shoppingPage{
  height: auto;
}

article.content-shoppingPage{
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
  color: white;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0aa3e4, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-shoppingPage{
  position: sticky;
  top: 0;
  background-color: rgb(17, 17, 16);
  z-index: 2;
}

.header-shoppingPage{
  display: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3em;
  margin: 0.3em 2.5em;
}
.welcome-shoppingPage{
  font-size: 2.5rem;
  text-align: center;
}
.icon-profile-shoppingPage{
  color: orange;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.cart-shoppingPage{
  cursor: pointer;
}
.icon-cart-shoppingPage{
  color: rgb(228, 23, 23);
  background-color: transparent;
}
.profile-shoppingPage{
  position: absolute;
  top: 55%;
  left: 11%;
}
.profile-shoppingPage button{
  font-size: 1rem;
  padding: .5em 4em;
  border-radius: 1em;
  color: black;
  background-color: white;
  cursor: pointer;
}
.shoesInCart-shoppingPage{
  position: absolute;
  top: 12%;
  right: 15%;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 1em;
  color: black;
  background-color: white;
  padding: 0 0.3em;
}
/*----END OF SHOPPING PAGE COMPONENT-------------------*/

/*----SHOES CONTAINER COMPONENT--------------*/
.container-shoesContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  column-gap: 1em;
  row-gap: 1em;
  width: 70%;
  margin: 2em auto;
}
/*-----END OF SHOES CONTAINER COMPONENT------*/

/*----SHOE COMPONENT--------------*/

.container-shoe{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px white solid;
}
.container-shoe::before{
  content: '';
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: darkslategrey; 
  transition: all ease 1s;
}
.container-shoe:hover::before{
  opacity:0.5;
}
.container-shoe::after{
  content: "\f0a6";
  position: absolute;
  top: 30%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10em;
  opacity: 0;
  transition: all ease 1s;
}
.container-shoe:hover::after{
  opacity: 1;
}

.putIntoCart-shoe{
  position: absolute;
  top: 6%;
  opacity: 0;
  transition: all ease 1s;
}
.putIntoCart-shoe button{
  position: relative;
  color: white;
  padding: 0.6em 2em;
  border: none;
  border-radius: 3em;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  background-color:orange;
}
.putIntoCart-shoe button:hover{
  background-color: orange;
  color:rgb(10, 160, 55);
  font-weight: 700;
}

.container-shoe:hover > .putIntoCart-shoe{
  opacity: 1;
}
.name-shoe{
  font-size: 1.1rem;
  font-weight: 900;
  text-align: center;
}
.underline-shoe{
  width: 10em;
  height: 0.3em;
  margin: 0.1em auto;
  background-color: rgb(79, 79, 247);
}
.img-shoe img{
  object-fit:cover;
  height: 100%;
  width: 100%;
}
.information-shoe{
  font-size: 1.2rem;
  font-weight: 400;
}
/*----END OF SHOE COMPONENT-----------*/

/*----CART COMPONENT---------------*/
.container-cart{
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 450px;
  max-width: 500px;
  color: black;
  background-color: rgb(248, 245, 239);
  transition: all .5s ease;
  transform: translateX(100%);
  overflow: auto;
}
.show-cart{
  transform: translateX(0%);
}
.content-cart{
  margin: 3em;
}
.summary-cart{
  text-align: center;
  margin-top: 2em;
  font-size: 2rem;
  border-bottom: 2px solid blue;
}
.icon-close-cart{
  position: absolute;
  top: 3%;
  right: 10%;
  font-size: 2em;
  cursor: pointer;
}
.icon-close-cart:hover{
  color:royalblue;
}

/*----END OF CART COMPONENT--------*/

/*----CART ITEM CONTAINER COMPONENT--*/
.container-cartItemContainer{
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  max-width: 350px;
}
.button-cartItemContainer{
  font-size: 1rem;
  font-weight: 900;
  padding: 0.5em;
  margin-top: 1.5em;
  cursor: pointer;
  background-color: rgb(223, 233, 177);
  color: rgb(255, 255, 255);
}
.button-cartItemContainer:hover{
  color:  red;
}
.total-cartItemContainer{
  margin: 1em auto;
  border-bottom: 2px solid black; 
}
/*----END OF CART ITEM CONTAINER COMPONENT---*/

/*----CART ITEM COMPONENT--------------------*/
.container-cartItem{
  position: relative;
  display: grid;
  grid-template-columns: 120px 40% auto;
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-bottom: 1em;
}

.picture-cartItem img{
  object-fit:cover;
  height: 100%;
  width: 100%;
}
.name-cartItem{
 text-align: center;
 padding-top: 1.2em;
}
.price-cartItem{
  margin-top: 1em;
  font-size: 1.5rem;
}
.quantity-cartItem{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-cartItem{
  font-size: 1.5em;
  cursor:pointer;
}
.quantity-cartItem p{
  font-size: 2em;
  font-weight: 500;
  margin: 0 2px;
}
.icon-close-cartItem{
  position: absolute;
  right: 1%;
  top: 2%;
  font-size: 1.2rem;
  cursor: pointer;
}


/*----END OF CART ITEM COMPONENT-------------*/

/*------ERROR COMPONENT (IF YOU GO TO UNKNOWN ROUTE)----*/
.error-container{
  flex-direction: column;
}
.btn-back{
  margin-top: 0.5em;
  font-size: 6em;
}
/*------END OF ERROR COMPONENT ----*/


/*------RESPONSIVE-----------------*/
@media screen and (max-width: 768px) {
  html{
    font-size: 12px;
  }
  article{
    height: auto;
    min-height: 100%;
    width: 100%;
  }
  section{
    width: 100%;
  }
  .main-section{
    background: url('https://i.pinimg.com/originals/53/83/fa/5383faafa5316d71036c2ece988293bb.jpg');
    background-position: center;
    background-size: cover;
  }
  .tabs-container{
    top: 4%;
    margin-bottom: em;
  }
  .tab-btn{
    font-size: 2rem;
  }
  .img-section{
    display: none;
  }

  .success-icon{
    left: 32%;
  }
  .container-LoginComponent,
  .container-RegisterComponent{
   height: auto;
  }
  .btn-RegisterComponent,
  .btn-LoginComponent{
    padding: 0.4em 1em;
  }

  .container-shoesContainer{
    min-width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  }
  .header-shoppingPage{
    font-size: 2.5rem;
    margin: .5em 1em;
  }
  .profile-shoppingPage{
    left: 1%;
  }
  .profile-shoppingPage button{
    padding: .4em 1.2em;
  }
  .welcome-shoppingPage{
    font-size: 1.8rem;
    margin: 0 .9em;
  }
  .shoesInCart-shoppingPage{
    top:25%;
    right: 14%;
  }
  .putIntoCart-shoe button{
    font-size: 1rem;
  }
  .container-shoe::after{
    font-size: 7rem;
    top: 25%;
  }
  .container-cart{
    min-width: 70%;
  }
}
/*------END OF RESPONSIVE-----------------*/

/*------ANIMATIONS FOR TRANSITION GROUP----*/
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
/*------END OF ANIMATIONS FOR TRANSITION GROUP-*/


