*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 16px;
}
body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*---------LAYOUT----------*/
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

article{
  display: flex;
  width: 90%;
  height: 90%; 
  box-shadow: 0px 0px 40px 2px #000000;
}
/*---NECESSARY TO USE TO HAVE SMOOTH TRANSITION BETWEEN PAGES---*/
.page{
  position: absolute;
}
/*-----SO THEY(COMPONENTS) CAN BE PUT ON EACH OTHER*/
section{
  width: 50%;
}

.img-section{
  background: url('https://i.pinimg.com/originals/53/83/fa/5383faafa5316d71036c2ece988293bb.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
}
.main-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tabs-container{
  position: relative;
  margin-bottom: 6em;
  top: 4%;
  display: flex;
  justify-content:center;
  width: 50%;
  color: white;
  cursor:pointer;
  background-color: white;
  border-radius: 2em;
}

.tab-btn-color{
position: absolute;
top:0;
left: 0;
width: 50%;
height: 100%;
background: linear-gradient(to right, #ff105f, #ffad06);
border-radius: 2em;
opacity: 0.75;
transition: all ease 1s;
}

.toggle{
  left: 50%;
  background-color: linear-gradient(to left,#ff105f, #ffad06);
}

.tab-btn{
  text-align: center;
  cursor: pointer;
  width: 50%;
  padding: 0.5em 0;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight:800;
  text-decoration: none;
}

li{
  margin-bottom: 2em;
}

.underline-api{
  text-decoration: underline;
}

/*-------END OF LAYOUT COMPONENT --------*/


/*-------ANIMATION WHILE CHECKING THE BACKEND VALIDATION-----*/
.flex{
  flex-direction: column;
}
.loader {
  border: 25px solid #f3f3f3;
  border-radius: 50%;
  border-top: 25px solid #3498db;
  width: 220px;
  height: 220px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
  margin: 3em;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*-------END OF ANIMATION WHILE CHECKING THE BACKEND VALIDATION-----*/


/*------REGISTER COMPONENT-----------*/
.register-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  max-width: 600px;
  min-width: 320px;
  height: auto;
  min-height: 550px;
  max-height: 700px;
  background-color: rgb(235, 235, 241);
  border-radius: 3em;
  z-index: 1;
}

.header h1{
  font-size: 2.3rem;  
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  padding-top: 1.5em;
}

.underline{
  width: 80%;
  height: 5px;
  background-color: dodgerblue;
  margin: 0em auto 1.5em auto;
}

.form-container{
  width: 75%;
  height: 70%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-div{
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  width: 100%;
  border: 2px solid grey;
  border-radius: 11px;  
  padding: 13px 90px 13px 50px;
  outline: none;
  transition: .4s;
}

input:focus{
 border-color: dodgerblue;
}

input:focus + .icon{
  color:dodgerblue;
}

.icon{
  font-size: 1.3rem;
  position: absolute;
  top:10px;
  left:10px;
  color: rgb(168, 155, 155);
  transition: .4s;
}

.btn-container{
  display: flex;
  width: 100%;
  justify-content:space-evenly;
  margin: 1.5em 1em;
}

.btn{
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0.5em 1em;
  border: none;
  background-color: dodgerblue;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: 0px 0px 13px 0px #000000;
}

.btn:hover{
  background-color: rgb(4, 59, 211); 
}

.error{
  border: 1px solid red;
}

/*----END OF REGISTER COMPONENT-------*/

/*----LOGIN COMPONENT ----------------*/
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  max-width: 600px;
  min-width: 320px;
  height: auto;
  min-height: 400px;
  max-height: 700px;
  background-color: rgb(235, 235, 241);
  border-radius: 3em;
  z-index: 1;
}


/*----END OF LOGIN COMPONENT --------- */

/*----REGISTER SUCCESS COMPONENT -----*/
.success-container{
  position: relative;
  width: 70%;
  max-width: 600px;
  min-width: 320px;
  height: auto;
  min-height: 550px;
  max-height: 700px;
  background-color: rgb(235, 235, 241);
  border-radius: 3em;
}

.header-success{
  text-align: center;
  background: cornflowerblue;
  color: white;
  font-weight: bold;
  border-radius: 1em 1em 0 0;
  font-size: 3rem;
  padding: 1em 0;
}


.success-icon{
  position: absolute;
  left: 36%;
  top: 20%;
  font-size: 10em;
  color: rgb(10, 160, 55);
}

.text-div{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 6em;
}

.btn-login{
  font-size: 5em;
}
.log-div{
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-top: 1.5em;
  color: green;
}

footer{
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 3.5em;
}

/*----END OF REGISTER SUCCESS COMPONENT -----*/

/*----SHOPPING PAGE -------------------------*/
.background-shoppingPage{
  flex-direction: column;
  color: white;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-shoppingPage{
  display: flex;
  font-size: 1.5rem;
  margin: 2em;
  width: 60%;
}
.icon-shoppingPage{
 font-size: 2.2em;
 margin-right: 10px;
 color: orange;
 background-color: white;
 border-radius: 50%;
}
.shoesContainer-shoppingPage{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  border: 2px greenyellow solid;
  margin: 0 2em;
  min-height: 60%;
  max-width: 1200px;
}
.shoe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 2px white solid;
}

footer{
  margin:0;
}
.img-shoe{
  
}
img{
  object-fit:fill;
  height: 100px;
}

/*----END OF SHOPPING PAGE-------------------*/


/*------ERROR COMPONENT (IF YOU GO TO UNKNOWN ROUTE)----*/
.error-container{
  flex-direction: column;
}
.btn-back{
  margin-top: 0.5em;
  font-size: 6em;
}
/*------END OF ERROR COMPONENT ----*/



/*------RESPONSIVE-----------------*/
@media screen and (max-width: 768px) {
  html{
    font-size: 12px;
  }
  article{
    width: 100vw;
    height: 100vh; 
  } 
  .main-section{
    background: url('https://i.pinimg.com/originals/53/83/fa/5383faafa5316d71036c2ece988293bb.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .tabs-container{
    top: 9%;
    margin-bottom: 12em;
  }
  .tab-btn{
    font-size: 2rem;
  }
  .img-section{
    display: none;
  }
  section{
    width: 100%;
  }
  .success-icon{
    left: 32%;
  }
  .register-container{
    min-width: 285px;
    min-height: 500px;
  }
  .success-container{
    min-width: 285px;
    min-height: 500px;
  }
}
/*------END OF RESPONSIVE-----------------*/

/*------ANIMATIONS FOR TRANSITION GROUP----*/
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
/*------END OF ANIMATIONS FOR TRANSITION GROUP-*/


